[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyfastx = "*"
biopython = "*"
rich = "*"
bitarray = "*"
numba = "*"
pybind11 = "*"
pytrie = "*"
pigz-python = "*"

[dev-packages]

[requires]
python_version = "3.11"
